$theme-color: #9d74ed;
$theme-light: lighten( $theme-color, 25%);
$theme-dark: darken( $theme-color, 25%);
$primary-color-dark: #d73a49;
$ff: 'verdana';

@mixin reset{
  margin: 0;
  padding: 0;
}

@mixin display($type){
  display: $type;
}

@mixin flex($direction){
  @include display(flex);
  flex-direction: $direction;
}

body{
  @include reset; 
  font-family: $ff;
  background-color: $theme-color;
}

.head {
    text-align: center;
    //border-top: 15px solid $primary-color-dark;
    background-color: $theme-color;
    margin: 0 0 10px 0;
  .logo{
    padding: 5px;
    max-width:60px;
  }
    h1 {
        color: black;
        font-family: $ff;
        text-align: center; 
        padding: 10px;
        margin: 0;
    }
}

#task-form{
  @include flex(row);
  input{
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid $theme-color;
    background-color: $theme-light;
  }
  input:focus{
    background-color: white;
    outline: none;
  }
  button{
    max-width: 100px;
    padding: 5px;
    background-color: #A09A2E;
  }
}

#task-list{
  @include reset;
  list-style: none;
  li{
    border-bottom: 1px solid #cccccc;
    .task-container{
      @include flex(row);
      justify-content: space-between;
      background-color: white;
      .task-name{
        padding: 1em;
        text-transform: capitalize;
      }
      .task-age{
        font-size: 0.6em;
        padding: 5px 10px;
      }
      .task-buttons{
        @include flex(row);
        button{
          width: 50px;
          height: 50px;
          font-size: 1.5em;
          background-color: transparent;
          border:1px solid transparent;
        }
        button:focus{
          outline: none;
          background-color: #ccccc;
          
        }
        button[data-function='status']{
          font-size: 1em;
        }
      }
    }
  }
  li[data-status="true"]{
    background-color: #eeeeee;
    .task-name{
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}

//MODAL background
.modal {
  display: none;//is hidden by default
  position: fixed;//stay in place
  z-index: 1;//sit on top
  padding-top: 100px;
  //location of the box
  left: 0;
  top: 0;
  //full width
  width: 100%;
  //full height
  height: 100%;
  //enable scrill if needed
  overflow: auto;
  //fallback color
  background-color: black;
  //black with opacity
  background-color: rgba(0, 0, 0, 0.4);
}

//Modal content-box
.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    border-top: 1px solid #888;
    width: 80%; 
}
//Modal header
.modal-header {
    padding: 10px;
    background-color: #fefefe;
    color: #ed7474;
    font-family: sans-serif; 
}
//Modal body inside
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px 10px; 
}
//Modal body textarea, getting text
.modal-body #task-form textarea {
      padding: 10px 5px;
      height: 150px;
      border-radius: 3px;
      border: none;
      box-shadow: 0px 1px 4px #c6c6c6; 
}
.modal-body #task-form textarea:focus {
      background-color: white;
      outline: none; 
}
//Save-edit button note
.modal-body #task-form button {
      color: white;
      background-color: #ed7474;
      max-width: 100px;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      box-shadow: 0px 1px 4px #c6c6c6; 
}
//The close button for modal
.modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold; 
}
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; 
}