$theme-color: #9d74ed;
$theme-light: lighten( $theme-color, 25%);
$theme-dark: darken( $theme-color, 25%);
$primary-color-dark: #d73a49;
$ff: 'verdana';

@mixin reset{
  margin: 0;
  padding: 0;
}

@mixin display($type){
  display: $type;
}

@mixin flex($direction){
  @include display(flex);
  flex-direction: $direction;
}

body{
  @include reset; 
  font-family: $ff;
  background-color: $theme-color;
}
/*
header{
  background-color: $theme-light; 
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  .logo{
    padding: 5px;
    max-width:60px;
  }
  h1{
    margin: 0;
    padding: 5px;
  }
}*/
//new added
.head {
    text-align: center;
    //border-top: 15px solid $primary-color-dark;
    background-color: $theme-color;
    margin: 0 0 10px 0;
  .logo{
    padding: 5px;
    max-width:60px;
  }
    h1 {
        color: black;
        font-family: $ff;
        text-align: center; 
        padding: 10px;
        margin: 0;
    }
}
//ned added for tab 
.nav-tabs>li {
    width: 50%;
    text-align: center;
}
//
#task-form{
  @include flex(row);
  input{
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid $theme-color;
    background-color: $theme-light;
  }
  input:focus{
    background-color: white;
    outline: none;
  }
  button{
    max-width: 100px;
    padding: 5px;
    background-color: #A09A2E;
  }
}

#task-list{
  @include reset;
  list-style: none;
  li{
    border-bottom: 1px solid #cccccc;
    .task-container{
      @include flex(row);
      justify-content: space-between;
      background-color: white;
      .task-name{
        padding: 1em;
        text-transform: capitalize;
      }
      .task-age{
        font-size: 0.6em;
        padding: 5px 10px;
      }
      .task-buttons{
        @include flex(row);
        button{
          width: 50px;
          height: 50px;
          font-size: 1.5em;
          background-color: transparent;
          border:1px solid transparent;
        }
        button:focus{
          outline: none;
          background-color: #ccccc;
          
        }
        button[data-function='status']{
          font-size: 1em;
        }
      }
    }
  }
  li[data-status="true"]{
    background-color: #eeeeee;
    .task-name{
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}