doctype html
html
  head
     title To Do List
     link(href='css/styles.css', rel='stylesheet')
     meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .app
      header
    .head
        img.logo(src='images/logo.png')
        h1 Welcome to: Maylen 2-DO List
  
    form#task-form
      input#task-input(type='text', placeholder='Type here to add a new task...')
      button#task-add(type='submit') ADD
    main
      h1 TASKS
    ul#task-list
    #addNoteModal.modal
        .modal-content
          .modal-header
            span.close &times;
            h2 Add a note
          .modal-body
              textarea#note-input(contenteditable='true', type='text',placeholder='tap to write a note',required)
          .modal-footer
              button#note-save(type='submit')  Save 
    footer
script(src='./js/main.js')